{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "printWidth": 100,
    "singleQuote": false,
    "endOfLine": "auto",
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "useTabs": false
}
